<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="RPG, rpg, Rpg, RPG's, rpg's, Rpg's, Ficha, Ficha RPG, ficha, ficha rpg's, poppy, Poppy, poppy2,
    Poppy2, poppy2.0, poppy2.0, Debugger King, Personagem, Personagem rpg, rpg de mesa, fica de rpg, dungeons and dragons, D&D,
    Discord, discord, Discord bot, discord bot, discord bot rpg">
    <meta name="description" content="Website gratuito para criação de fichas e personagens de RPG, com interação completa com o Discord pelo bot Poppy2.0">
    <meta name="author" content="Condelfbm">
    <meta http-equiv="refresh" content="30">
    <link href="index.css" rel="stylesheet" type="text/css">
    <title>Poppy2.0</title>
</head>
<body>
    <div class="container">
        <div class="title">Ficha do Personagem</div>
        <form action="/" method="post">
            <div class="user-details">
                <div class="input-box">
                    <span class="details">Nome de usuário</span>
                    <input type="text" name="nickname" placeholder="Escreva seu nome de usuário" required>
                </div>
                <div class="input-box">
                    <span class="details">Nome do personagem</span>
                    <input type="text" name="characname" placeholder="Escreva o nome do personagem" required>
                </div>
                <div class="input-box">
                    <span class="details">Classe do personagem</span>
                    <input type="text" name="classe" placeholder="Escreva a classe do personagem" required>
                </div>
                <div class="input-box">
                    <span class="details">HP</span>
                    <input type="number" name="hp" placeholder="Defina o HP do personagem" required>
                </div>
            </div>

            <div class="title">Atributos</div>
            <div class="user-details">
                <div class="input-box">
                    <span class="details">Força</span>
                    <input type="number" name="forca" placeholder="Defina a força do personagem" required>
                </div>
                <div class="input-box">
                    <span class="details">Destreza</span>
                    <input type="number" name="destreza" placeholder="Defina a destreza do personagem" required>
                </div>
                <div class="input-box">
                    <span class="details">Constituição</span>
                    <input type="number" name="constituicao" placeholder="Defina a constituição do personagem" required>
                </div>
                <div class="input-box">
                    <span class="details">Inteligência</span>
                    <input type="number" name="inteligencia" placeholder="Defina a inteligência do personagem" required>
                </div>
                <div class="input-box">
                    <span class="details">Sabedoria</span>
                    <input type="number" name="sabedoria" placeholder="Defina a sabedora do personagem" required>
                </div>
                <div class="input-box">
                    <span class="details">Carisma</span>
                    <input type="number" name="carisma" placeholder="Defina o carisma do personagem" required>
                </div>
            </div>

            <div class="title">Perícias</div>
            <div class="user-details">
                <div class="input-box">
                    <span class="details">Acrobacia</span>
                    <input type="number" name="acrobacia" placeholder="Defina a acrobacia do personagem" required>
                </div>

                <div class="input-box">
                    <span class="details">Arcanismo</span>
                    <input type="number" name="arcanismo" placeholder="Defina o arcanismo do personagem" required>
                </div>
                <div class="input-box">
                    <span class="details">Atletismo</span>
                    <input type="number" name="atletismo" placeholder="Defina o atletismo do personagem" required>
                </div>
                <div class="input-box">
                    <span class="details">Atuação</span>
                    <input type="number" name="atuacao" placeholder="Defina a atuação do personagem" required>
                </div>
                <div class="input-box">
                    <span class="details">Lábia</span>
                    <input type="number" name="labia" placeholder="Defina a lábia do personagem" required>
                </div>
                <div class="input-box">
                    <span class="details">Furtividade</span>
                    <input type="number" name="furtividade" placeholder="Defina a furtividade do personagem" required>
                </div>
                <div class="input-box">
                    <span class="details">História</span>
                    <input type="number" name="historia" placeholder="Defina a história do personagem" required>
                </div>
                <div class="input-box">
                    <span class="details">Intimidação</span>
                    <input type="number" name="intimidacao" placeholder="Defina a intimidação do personagem" required>
                </div>
                <div class="input-box">
                    <span class="details">Intuição</span>
                    <input type="number" name="intuicao" placeholder="Defina a intuição com animais do personagem" required>
                </div>
                <div class="input-box">
                    <span class="details">Investigação</span>
                    <input type="number" name="investigacao" placeholder="Defina a investigação do personagem" required>
                </div>
                <div class="input-box">
                    <span class="details">Afinidade com animais</span>
                    <input type="number" name="animais" placeholder="Defina a afinidade com animais do personagem" required>
                </div>
                <div class="input-box">
                    <span class="details">Medicina</span>
                    <input type="number" name="medicina" placeholder="Defina a medicina do personagem" required>
                </div>
                <div class="input-box">
                    <span class="details">Natureza</span>
                    <input type="number" name="natureza" placeholder="Defina a natureza do personagem" required>
                </div>
                <div class="input-box">
                    <span class="details">Percepção</span>
                    <input type="number" name="percepcao" placeholder="Defina a percepção do personagem" required>
                </div>
                <div class="input-box">
                    <span class="details">Prestigitação</span>
                    <input type="number" name="prestigitacao" placeholder="Defina a prestigitação do personagem" required>
                </div>
                <div class="input-box">
                    <span class="details">Religião</span>
                    <input type="number" name="religiao" placeholder="Defina a religião do personagem" required>
                </div>
                <div class="input-box">
                    <span class="details">Sobrevivência</span>
                    <input type="number" name="sobrevivencia" placeholder="Defina a sobrevivência do personagem" required>
                </div>
            </div>

            <div class="gender-details">
                <input type="radio" name="gender" id="dot-1">
                <input type="radio" name="gender" id="dot-2">
                <input type="radio" name="gender" id="dot-3">
                <span class="gender-title">Gênero do Personagem</span>
                <div class="category">
                    <label for="dot-1">
                        <span class="dot one"></span>
                        <span class="gender">Homem</span>
                    </label>
                    <label for="dot-2">
                        <span class="dot two"></span>
                        <span class="gender">Mulher</span>
                    </label>
                    <label for="dot-3">
                        <span class="dot three"></span>
                        <span class="gender">Outro</span>
                    </label>
                </div>
            </div>
            <div class="button">
                <input type="submit" value="Registrar" onclick="history.go(-1)">
            </div>
        </form>
    </div>

    <div class="sidebar">
        <div class="logo_content">
            <div class="logo">
                <i class='bx bxs-message-square-dots' ></i>
                <div class="logo_name">Poppy</div>
            </div>
            <i class='bx bx-menu' id="btn"></i>
        </div>
        
        <ul class="nav_list">
            <li>
                <i class='bx bx-search' ></i>
                <input type="text" placeholder="Pesquisando...">

            -<span class="tooltip">Pesquisa</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-user' ></i>
                    <span class="links_name">Usuário</span>
                </a>
                <span class="tooltip">Usuário</span>          
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-cog' ></i>
                    <span class="links_name">Configurações</span>
                </a>
            -<span class="tooltip">Configurações</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-heart' ></i>
                    <span class="links_name">Donation</span>
                </a>
            <span class="tooltip">Donation</span>
            </li>
        </ul>

        <div class="profile_content">
            <div class="profile">
                <div class="profile_details">
                    <img src="eu.png" alt="">
                    <div class="name_job">
                        <div class="name">Luiz Felipe Brandão</div>
                        <div class="job">Developer</div>
                    </div>
                </div>
                <i class='bx bx-log-out' id="log_out"></i>
            </div>
        </div>

    </div>

    <div class="home_content">
        <div class="text">Criação de Ficha</div>
    </div>

    

    <script>
        let btn = document.querySelector("#btn")
        let sidebar = document.querySelector(".sidebar")
        let searchBtn = document.querySelector(".bx-search")

        btn.onclick = function(){
            sidebar.classList.toggle("active")
        }
        
        searchBtn.onclick = function(){
            sidebar.classList.toggle("active")
        }
    </script>

</body>
</html>